@import "tailwindcss";

@source "./index.html";
@source "./src/**/*.{js,ts,jsx,tsx}";
@source "./components/**/*.{js,ts,jsx,tsx}";

@theme {
    --color-paper: #F2F4F6;
    --color-petrol-base: #0B232E;
    --color-petrol-mid: #153A48;
    --color-petrol-ink: #1E3A45;
    --color-petrol-accent: #CBD5E1;
    --color-petrol-electric: #78909C;

    --font-serif: 'Zodiak', serif;
    --font-mono: 'JetBrains Mono', monospace;
    --font-sans: 'Inter', sans-serif;

    --animate-marquee: marquee 25s linear infinite;
    --animate-marquee-reverse: marquee-reverse 25s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee-reverse {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

/* Global Styles */
body {
    background-color: var(--color-paper);
    color: var(--color-petrol-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Remova overflow-x: hidden se estiver causando problemas no mobile, 
       mas geralmente é bom manter para evitar scroll horizontal indesejado */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Scrollbar Styling - Opcional, pois o Lenis pode ocultar ou customizar */
/* HIDE SCROLLBAR GLOBALLY */
::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


::selection {
    background: #CBD5E1;
    color: #0B232E;
}

/* HIDE SCROLLBAR UTILITY */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Paper Pattern Utility */
.bg-paper-pattern {
    background-color: #f8f9fa;
    background-image:
        linear-gradient(#e5e7eb 1px, transparent 1px),
        linear-gradient(90deg, #e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: center center;
}

@media print {

    /* Esconde tudo que não for o currículo */
    body * {
        visibility: hidden;
    }

    /* Mostra apenas o modal do currículo, sem scroll, fundo branco puro */
    #resume-content,
    #resume-content * {
        visibility: visible;
        color: #000 !important;
        /* Força preto puro para economizar tinta */
    }

    #resume-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        background: white;
    }

    /* Remove botões e decorações */
    button,
    .no-print {
        display: none !important;
    }
}